/*Common styles*/

body {
    font: 14px/28px Arial, Helvetica, sans-serif;
    color: #000;
    background: #fff;
}

a {
    color: #76baec;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.input {
    border: 2px solid #d3d3d3;
    line-height: 23px;
    border-radius: 5px;
    box-sizing: border-box;
}

.input::placeholder {
    padding-left: 7px;
}

.input:focus {
    box-shadow: 0 0 5px #337ab7;
}

.header {
    font-size: 22px;
    padding-bottom: 7px;
    margin-bottom: 12px;
    border-bottom: 2px solid #999;
}

.button {
    font-size: 13px;
    border: 0 solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 14px;
    background-color: #337ab7;
    color: #fff;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.button:hover {
    background-color: #339ab7;
}

.logo {
    position: absolute;
    width: 160px;
    height: 65px;
    top: -70px;
    left: 0;
}

.application-box {
    box-sizing: border-box;
    box-shadow: 0 0 20px #999;
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 8px;
    margin: 100px auto 0;
    width: 903px;
    position: relative;
    padding: 15px 20px 15px;
}

/*Styles for authentication and registration form*/

.form-box {
    width: 465px;
}

.form-box .input {
    width: 100%;
    margin-bottom: 3px;
}

.form-box .header i {
    position: absolute;
    top: 17px;
    left: 416px;
    font-size: 24px;
}

.form-box .row {
    margin: 0 0 11px;
}

.form-box .row label {
    float: left;
    width: 30%;
}

.form-box .row .input-container,
.form-box .row .button-link-container {
    width: 60%;
    float: right;
}

.form-box .row .error-message {
    color: #f00;
    font-size: 12px;
    line-height: 20px;
}

.form-box .row:after {
    display: block;
    clear: both;
    content: "";
}

.form-box .row:last-child {
    margin-bottom: 0;
}

.form-box .form-link {
    float: right;
    margin-top: 3px;
    font-size: 12px;
}

.form-box .button {
    float: left;
}


/*Styles for file explorer*/

.footer {
    padding-top: 6px;
    border-top: 2px solid #999;
    text-align: center;
}

.file-explorer-container .main {
    height: 580px;
    overflow-y: auto;
}

.file-explorer-container .glyphicon {
    font-size: 20px;
    margin-right: 9px;
    top: 4px;
}

.user-menu {
    position: absolute;
    right: 5px;
    top: -38px;
}

.user-menu li {
    display: inline;
    border-right: 1px solid #000;
    padding: 0 11px 0 5px;
}

.user-menu :last-child {
    border-style: none;
}

.file-explorer-container .user-menu li i {
    font-size: 16px;
}

.file-explorer-container .content-header {
    padding: 14px 12px 16px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #999;
    z-index: 1;
    background-color: #fff;
}

.file-explorer-container .path-title {
    font-size: 20px;
    font-weight: 600;
    width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file-explorer-container .path-title i {
    top: 0;
}

.file-explorer-container .content-header .head-buttons {
    position: absolute;
    right: 11px;
    bottom: 12px;
}

.file-explorer-container .content-header .button {
    padding: 2px 14px 10px;
    margin-left: 10px;
}

.file-explorer-container .content-header .button i {
    margin-right: 1px;
    top: 6px;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table tr {
    border-bottom: 1px solid #999;
}

.table tbody tr:hover {
    background-color: #f4f4f4;
}

.table td:nth-child(1) {
    width: 32px;
}

.table td:nth-child(3) {
    width: 101px;
}

.table td:nth-child(4) {
    width: 118px;
}

.table .file-action-icons {
    opacity: 0;
    text-align: right;
}

.table tbody tr:hover .file-action-icons {
    opacity: 1;
}

.table td {
    vertical-align: middle;
    padding: 12px 5px 11px;
}

.table .arrow .glyphicon-menu-right {
    font-size: 12px;
    margin-left: 8px;
    top: 2px;
}

.table .file-name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table .file-name-editing .input {
    width: 300px;
}

.table .file-action-icons i {
    cursor: pointer;
}

.table .file-action-icons .glyphicon-upload {
    color: #32cd32;
}

.table .file-action-icons .glyphicon-download {
    color: #76baec;
}

.table .file-action-icons .glyphicon-remove-circle {
    color: #ff0000;
}

