body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: white;
    line-height: 33px;
}

a {
    color: #76baec;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.outer-form-container {

    box-sizing: border-box;
    box-shadow: 0 0 20px gray;
    border: 2px solid gray;
    border-radius: 12px;
    margin: 150px auto 0px;
    width: 34%;
    min-width: 600px;
}

.user-form {

    box-sizing: content-box;
    margin: 28px;
}

.user-form input {
    border: 2px solid lightgray;
    border-radius: 7px;
    width: 100%;
    height: 33px;
}

input:focus {
    box-shadow: 0 0 5px #337ab7;
}

.user-form hr {
    border: 1px solid #999;
    margin-bottom: 14px;
}

.user-form input::placeholder {
    font-size: 18px;
    padding: 20px 10px;
}

.user-form .header {

    font-weight: 600;
    font-size: 30px;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 2px solid #999;
}

.user-form .header::after {

    display: block;
    clear: both;
    content: "";
}

.user-form .header .form-target {
    float: left;
}

.user-form .header .user-icon {
    float: right;
}

.user-form .header .user-icon i {
    font-size: 30px;
}

.credential-container {

    box-sizing: content-box;
    margin: 0px auto 14px;
}

.credential-container label {
    margin-top: 9px;
    float: left;
    font-size: 20px;
    width: 40%;
}

.input-container {
    width: 60%;
    float: right;
}

.error-message {

    margin-top: 6px;
    color: red;
    font-size: 17px;
    line-height: 30px;
}

.credential-container:after {
    display: block;
    clear: both;
    content: "";
}

.form-link {
    float: right;
    margin-top: 8px;
    font-size: 16px;
}

.form-button {
    float: left;
    padding: 13px 20px;
    background-color: #337ab7;
}

button {

    font-size: 18px;
    border: 0px solid;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #339ab7;
}

.file-explorer-container {
    position: relative;
    margin: 100px auto 0px;
    width: 900px;

    height: 720px;
    background-color: #ffffff;
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 20px gray;
    padding: 20px;
    box-sizing: border-box;
}

.file-explorer-container .header {
    font-size: 22px;
    color: #337ab7;
    padding-bottom: 8px;
    line-height: 22px;
    border-bottom: 2px solid #999;
    margin-bottom: 8px;
}


.file-explorer-container .footer {
    font-size: 14px;
    padding-top: 8px;
    border-top: 2px solid #999;
    text-align: center;
}

main {
    height: 600px;
    overflow: auto;
}

.logo {
    position: absolute;
    width: 160px;
    height: 70px;
    top: -70px;
    left: -2px;
}

.user-logout {
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: -40px;
}

.user-logout .username {
    border-right: 1px solid black;
    padding-right: 5px;
    height: 15px;
}

.file-explorer-container ul li {
    display: inline;
}

.file-explorer-container .glyphicon {
    font-size: 20px;
    margin-right: 8px;
}

.file-explorer-container .content-table .head-button {

    padding: 5px 7px 5px;
    border-radius: 5px;
    font-size: 14px;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
}

.upload{
    background-color: #337ab7;
}

.create {
    background-color: darkcyan;
}


.file-explorer-container .content-table {
    width: 100%;

}

.file-explorer-container .content-table tbody {
    width: 100%;
}

.file-explorer-container.content-table thead {
    margin-bottom: 10px;
    width: 100%;
}


.file-explorer-container .content-table .directory-path {
    width: 56%;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

.file-explorer-container .content-table tr {

    /*height: 55px;*/
    border-bottom: 1px solid #999;
    width: 100%;
    font-size: 14px;
}

.content-table tbody tr:hover {
    background-color: #f4f4f4;
}

.file-explorer-container tr .file-action-icons {
    opacity: 0;
}

.file-explorer-container tbody tr:hover .file-action-icons {
    opacity: 1;
}

.file-explorer-container .content-table td, th {
    vertical-align: middle;
    padding-top: 11px;
    padding-bottom: 11px;
}


.file-explorer-container .arrow i {
    font-size: 12px;
    margin-left: 8px;
}

.file {
    width: 56%;
}

.file-name i {
    color: black;
}

.file-name {
    width: 400px;
    /*text-overflow: ellipsis;*/
    /*display: block;*/
}

.file-name-editing input {
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 70%;
    height: 25px;
    font-size: 14px;
    padding-left: 5px;

}

.file-count {
    width: 20%;
    margin: 0px;
    text-align: center;
}

.file-action-icons {
    text-align: right;
    width: 20%;
    padding-top: 10px;
}

.upload-icon {
    color: green;
}

.download-icon {
    color: #76baec;
}

.glyphicon-level-up {
    color: #76baec;
}

.delete-icon {
    color: red;
}

