/*Common styles*/

body {
    font: 14px/28px Arial, Helvetica, sans-serif;
    color: #000000;
    background: #ffffff;
}

a {
    color: #76baec;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.input {
    border: 2px solid #d3d3d3;
    line-height: 25px;
    font-size: 15px;
    border-radius: 5px;
}

.input::placeholder {
    padding-left: 7px;
}

.input:focus {
    box-shadow: 0 0 5px #337ab7;
}

.header {
    font-size: 24px;
    padding-bottom: 9px;
    margin-bottom: 14px;
    border-bottom: 2px solid #999;
}

.button {
    font-size: 15px;
    border: 0 solid;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    padding: 8px 14px;
    background-color: #337ab7;
    color: #ffffff;
}

.button:hover {
    background-color: #339ab7;
}

.logo {
    position: absolute;
    width: 178px;
    height: 72px;
    top: -80px;
    left: 0;
}

.application-box {
    box-sizing: border-box;
    box-shadow: 0 0 20px #999999;
    background-color: #ffffff;
    border: 2px solid #999999;
    border-radius: 8px;
    margin: 100px auto 0px;
    padding: 20px;
    width: 900px;
    position: relative;
}

/*Styles for authentication and registration form*/

.user-form {
    width: 516px;
    padding: 18px 23px 22px;
}

.user-form .input {
    width: 100%;
    margin-bottom: 5px;
}

.user-form .header i {
    position: absolute;
    top: 18px;
    left: 462px;
    font-size: 27px;
}

.user-form .row {
    box-sizing: border-box;
    margin: 0 auto 12px;
}

.user-form .row label {
    margin-top: 2px;
    float: left;
    font-size: 15px;
    width: 30%;
}

.user-form .row .input-container,
.user-form .row .button-link-container {
    width: 60%;
    float: right;
}

.user-form .row .error-message {
    color: red;
    font-size: 13px;
    line-height: 22px;
}

.user-form .row:after {
    display: block;
    clear: both;
    content: "";
}

.user-form .row:last-child {
    margin-bottom: 0;
}

.user-form .form-link {
    float: right;
    margin-top: 4px;
    font-size: 13px;
}

.user-form .button {
    float: left;
}

.user-form .form-button:hover {
    background-color: #339ab7;
}

/*Styles for file explorer*/

.file-explorer-container .file-explorer-header {
    /*font-size: 22px;*/
    /*padding-bottom: 8px;*/
    /*line-height: 22px;*/
    /*margin-bottom: 8px;*/
}


.file-explorer-container .footer {
    font-size: 14px;
    padding-top: 5px;
    border-top: 2px solid #999;
    text-align: center;
}

.file-explorer-container .main {
    height: 600px;
    overflow-y: auto;
}

.user-menu {
    position: absolute;
    right: 20px;
    top: -40px;
}

.file-explorer-container .user-menu li {
    display: inline;
    border-right: 1px solid #000000;
    padding-right: 5px;
}

.file-explorer-container .user-menu :last-child {
    border-style: none;
}

.file-explorer-container .glyphicon {
    font-size: 20px;
    margin-right: 8px;
    top: 5px;
}


.file-explorer-container .content-header {
    padding: 10px 15px 20px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #999;
    z-index: 1;
    background-color: #fff;
}

.file-explorer-container .content-header .head-buttons {
    position: absolute;
    left: 500px;
}

.file-explorer-container .content-header .head-button {
    padding: 4px 10px 10px;
    border-radius: 5px;
    font-size: 14px;
    float: right;
    margin-left: 30px;
    color: #ffffff;
}

.file-explorer-container .content-header .directory-path {
    width: 56%;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

.upload {
    background-color: #337ab7;
}

.create {
    background-color: darkcyan;
}

.file-explorer-container .content-table {
    width: 100%;
}

.file-explorer-container .content-table tr {
    border-bottom: 1px solid #999;
    width: 100%;
    font-size: 14px;
}

.file-explorer-container .content-table tbody tr:hover {
    background-color: #f4f4f4;
}

.file-explorer-container tr .file-action-icons {
    opacity: 0;
}

.file-explorer-container tbody tr:hover .file-action-icons {
    opacity: 1;
}

.file-explorer-container .content-table td, th {
    vertical-align: middle;
    padding-top: 11px;
    padding-bottom: 11px;
}

.file-explorer-container .content-table .arrow {
    width: 4%;
}

.file-explorer-container .arrow .glyphicon-menu-right {
    font-size: 12px;
    margin-left: 8px;
    top: 2px;
}

.file-explorer-container .content-table tr td .file-name i {
    color: #000000;
}

.file-explorer-container .content-table tr td .file-name, .folder-name {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file-explorer-container .content-table tr td .file-name-editing .edit-input {
    border-radius: 5px;
    width: 62%;
    line-height: 25px;
    font-size: 14px;
    padding-left: 5px;
}

.file-explorer-container .content-table tr .file-count, .file-size {
    width: 20%;
    text-align: center;
}

.file-explorer-container .content-table tr .file-action-icons {
    width: 20%;
    text-align: right;
}

.file-explorer-container .content-table tr .file-action-icons .glyphicon-upload {
    color: #32CD32;
}

.file-explorer-container .content-table tr .file-action-icons .glyphicon-download {
    color: #76baec;
}

.file-explorer-container .content-table tr .file-action-icons .glyphicon-remove-circle {
    color: #ff0000;
}

