body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: white;
    line-height: 33px;
}

a {
    color: #76baec;
}

.outer-form-container {

    box-sizing: border-box;
    box-shadow: 0 0 20px gray;
    border: 2px solid gray;
    border-radius: 12px;
    margin: 150px auto 0px;
    width: 34%;
    min-width: 600px;
}

.user-form {

    box-sizing: content-box;
    margin: 28px;
}

.user-form input {
    border: 2px solid lightgray;
    border-radius: 7px;
    width: 100%;
    height: 33px;
}

.user-form hr {
    border: 1px solid #999;
    margin-bottom: 14px;
}

.user-form input::placeholder {
    font-size: 18px;
    padding: 20px 10px;
}

.header {

    font-weight: 600;
    font-size: 30px;
    margin-bottom: 14px;
}

.credential-container {

    box-sizing: content-box;
    margin: 0px auto 14px;
}

.credential-container label{
    margin-top: 9px;
    float: left;
    font-size: 20px;
    width: 40%;
}

.input-container {
    width: 60%;
    float: right;
}

.error-message {

    margin-top: 6px;
    color: red;
    font-size: 17px;
    line-height: 30px;
}

.credential-container:after {
    display: block;
    clear: both;
    content: "";
}

.form-link {
    float: right;
    margin-top: 8px;
    font-size: 16px;
}

.form-button{
    float:left;

}

button{
    background-color: #337ab7;
    font-size: 18px;
    border: 0px solid;
    border-radius: 8px;
    color: white;
    padding: 13px 20px;
}

button:hover {
    background-color: #339ab7;
}

.file-explorer{
    position: relative;
    margin: 100px auto 0px;
    width: 900px;
    min-height: 720px;
    background-color: #ffffff;
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 20px gray;
}
.user-logout{
    position: absolute;
    right: 20px;
    top: -40px;
}

.user-logout li{
    display: inline;
}