/*Common styles*/

body {
    font: 14px/18px Arial, Helvetica, sans-serif;
    color: #000;
    background: #fff;
}

a {
    color: #76baec;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.input {
    border: 2px solid #d3d3d3;
    line-height: 23px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.input:focus {
    box-shadow: 0 0 5px #337ab7;
    outline-offset: 0;
    outline-width: 0;
}

.button {
    font-size: 14px;
    border: 0 solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 14px;
    background-color: #337ab7;
    color: #fff;
    line-height: 23px;
}

.button i {
    top: 4px;
    font-size: 20px;
}

.button:hover {
    background-color: #339ab7;
}

.logo {
    position: absolute;
    width: 160px;
    height: 65px;
    top: -70px;
    left: 0;
}

.user-menu {
    position: absolute;
    right: 9px;
    top: -37px;
}

.user-menu li {
    display: inline;
    border-right: 1px solid #000;
    padding: 0 11px 0 5px;
}

.user-menu li .glyphicon {
    font-size: 16px;
    margin-right: 5px;
}

.user-menu :last-child {
    border-style: none;
}

.application-box {
    box-sizing: border-box;
    box-shadow: 0 0 20px #999;
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 8px;
    margin: 100px auto 0;
    width: 903px;
    position: relative;
    padding: 20px;
}

.header {
    font-size: 22px;
    padding-bottom: 13px;
    margin-bottom: 12px;
    border-bottom: 2px solid #999;
}

.header i {
    position: absolute;
    top: 17px;
    left: 416px;
    font-size: 24px;
}

/*Styles for authentication and registration form*/

.form-box {
    width: 465px;
}

.form-box .input {
    width: 100%;
    margin-bottom: 4px;
}

.form-box .row {
    margin: 0 0 13px;
}

.form-box .row label {
    float: left;
    width: 30%;
    margin-top: 4px;
}

.form-box .row .input-container {
    width: 60%;
    float: right;
}

.form-box .row .error-message {
    color: #f00;
    font-size: 12px;
}

.form-box .auth-error-message {
    display: none;
    color: #f00;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.form-box .auth-error-message.shown {
    display: block;
}

.form-box .row:after {
    display: block;
    clear: both;
    content: "";
}

.form-box > .row:last-child {
    margin-bottom: 0;
}

.form-box .form-link {
    float: right;
    margin-top: 5px;
    font-size: 12px;
}

.form-box .button {
    float: left;
}


/*Styles for file explorer*/

.footer {
    padding-top: 12px;
    border-top: 2px solid #999;
    text-align: center;
}

.file-explorer-container .main {
    height: 580px;
    overflow-y: auto;
}

.file-explorer-container .content-header {
    padding: 16px 12px 20px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #999;
    z-index: 1;
    background-color: #fff;
}

.file-explorer-container .path-title {
    font-size: 20px;
    font-weight: 600;
    width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file-explorer-container .path-title i {
    top: 0;
    margin-right: 9px;
    font-size: 20px;
}

.file-explorer-container .content-header .head-buttons {
    position: absolute;
    right: 11px;
    bottom: 12px;
}

.file-explorer-container .content-header .button {
    margin-left: 10px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table .glyphicon {
    font-size: 20px;
    margin-right: 9px;
    top: 4px;
}

.table .glyphicon-menu-right {
    font-size: 12px;
    margin-left: 8px;
    top: 2px;
}

.table .item-row {
    border-bottom: 1px solid #999;
}

.table .item-row:hover {
    background-color: #f4f4f4;
}

.table tbody .item-row:hover .cell-action-icons i {
    opacity: 1;
}

.table .cell-file-name .input {
    width: 300px;
    display: none;
}

.table .item-row.editing .name {
    display: none;
}

.table .item-row.editing .input {
    display: inline-block;
}

.table td {
    padding: 12px 5px 12px;
    line-height: 28px;
}

.table .cell-arrow {
    width: 32px;
}

.table .cell-count {
    width: 101px;
}

.table .cell-action-icons {
    text-align: right;
    width: 118px;
}

.table .cell-action-icons i {
    opacity: 0;
    cursor: pointer;
}

.table .cell-file-name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table .cell-action-icons .glyphicon-upload {
    color: #32cd32;
}

.table .cell-action-icons .glyphicon-download {
    color: #76baec;
}

.table .cell-action-icons .glyphicon-remove-circle {
    color: #f00;
}

/** Error page styles*/

.error-code {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #a35959;
}

.not-found-message {
    font-size: 20px;
    margin-bottom: 10px;
}

/**Selected styles */
.table .item-row.is-selected {
    background-color: #c0dbe8;
}

.table .item-row:not:hover(.is-selected) {
    background: #f4f4f4;
}

/** loading styles*/
.table .cell-file-name .item-loader {
    display: none;
}

.table .item-row.is-loading .cell-file-name .item-loader {
    display: inline-block;
    width: 8px;
    height: 13px;;
}

.table .item-row.is-loading {
    pointer-events: none;
}

.item-loader:after {
    content: "";
    display: block;
    width: 13px;
    height: 12px;
    margin-left: 8px;
    margin-bottom: 8px;
    border-radius: 90%;
    border: 4px solid #636363;
    border-color: #636363 transparent #636363 transparent;
    animation: item-loader 1.2s linear infinite;
}

@keyframes item-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**
button loading
 */
.button .item-loader {
    display: none;
}

.button .item-loader:after {
    margin: 3px 4px 0 0;
    border-color: #fff transparent #fff transparent;
}

.button.is-loading .item-loader {
    display: inline-block;
    width: 21px;
    height: 19px;
}

.button.is-disabled {
    pointer-events: none;
}

.button.is-disabled .glyphicon {
    display: none;
}

/**Rename loader*/

.table .cell-file-name .rename-loader {
    display: none;
}

.table .item-row.is-renaming .rename-loader {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 19px;
}

.table .item-row.is-renaming {
    pointer-events: none;
}

.table .item-row.is-renaming .name {
    display: none;
}

.rename-loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 7px;
    background: #636363;
    animation: rename-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.rename-loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.rename-loader div:nth-child(2) {
    left: 18px;
    animation-delay: -0.12s;
}

.rename-loader div:nth-child(3) {
    left: 28px;
    animation-delay: 0s;
}

@keyframes rename-loader {
    0% {
        top: 3px;
        height: 30px;
    }
    50%, 100% {
        top: 8px;
        height: 15px;
    }
}

/**
List loading
 */
.list-loader {
    display: none;
}
.list-loader.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 100px;
    left: 350px;
}
.list-loader.loading ~ .file-list {
    display: none;
}
.list-loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 70px solid #636363;
    border-color: #636363 transparent #636363 transparent;
    animation: list-loader 1.2s infinite;
}
@keyframes list-loader {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}


